body {
	margin:0px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	width: 100%;
	}



header {	
	width: 100%;
	height: 100px;
	position: relative;
	/*background: white url("Deer3.png") 50% 50% no-repeat  ;
	background-size: 15vw;
	background-attachment: */ ;	
		}

header #mainicon {
	width: 70px;
	height: auto;
	margin-left: 5px;
  	filter: invert(0%);
  	top: 2px;
  	position: absolute;
  	z-index: 1;
  	display: inline-block;

		}
	

header #Wave2{
	width: 100%;
	height:7vw;
  	filter: invert(100%);
  	top: 0vw;
  	position: absolute;
  	z-index: -1;
  	display: inline-block;}

header h1{ 
	display:inline-block;
	clear: none;
	width: 135px;
	color: black;
	margin-left: 80px;
	margin-top: 25px;	
	text-align: center;
	position: absolute;
	z-index: 1;
	}

header h2 {
	display:inline-block;
	width: 244px;
	clear: none;
	color: black;
	margin-top: 62px;
	margin-left: 90px;
	text-transform: lowercase;
	text-align: left;
	position: absolute;
	font-size: 10px;
}

.navbar {
	overflow: hidden;
	width: 500px;
	position: fixed;
	right: 3px;
	top: 3px;
	z-index: 2;


}

.navbar a{
	float: right;
	display: inline-block;
	text-align: center;
	margin-right: 25px;
	text-decoration: none;
	color: black;
	padding-left: 30px;
	padding-right: 1px;
	z-index: 2;
		}

.navbar a:hover{
	color: white;
	background-color: black;
}



#Wave {
	width: 100%;
	height: 30VW;
	margin-left: 0px;
  	margin-right: 0px;
  	filter: invert(100%);
  	top: -100px;
  	position: -webkit-sticky;
  	position: sticky;
  	z-index: -1;
}

#content {
	display: block;
	position: relative;
	background-color: white;
	text-decoration-color: black;
	font-size: 15px;
	padding-top: 100px;
	height: auto;
	width: 100%;
	border-radius: 8px;
	z-index: 1;
	list-style-type: none;
	text-align: center;
}

#content h1{
	font-size: 25px;
}

.posts h5 {
	padding-top:  0vw;
	text-align: left;
	opacity: 26%;
					 }

.posts h2{
	padding-top:  0vw;
	text-align: left;
}

.projectmenu {
	display: flex;
	flex-direction: column;
	padding-top: 1px;
	background: white;
	height: auto;
	width: 100%;
	z-index: 1;
	position: sticky;
	text-align: center;
}


.projectbox	{
	display: inline-block;
	position: relative;
	padding: 30px;
	width: auto;
	height: auto
}

.projectbox	h2{
	font-size: 90%;
	opacity: 0.5;
}

.projectbox	p{
	margin-bottom: 20vw;
}

.projectbox img{
	width: 80%x;
  height: auto;
  display: block;
}

#about { 
	text-align: center;
	position: relative;
	margin-top: 10vw;
	margin-left: 20%;
	width: 60%;
}

#about img {
  max-width: 20vw;
  height: auto;
}

.mainpoint {
	text-decoration: blink;
	font-size: 110%;
	font-weight: bold; 
}

.subpoint{	
}

.topic{
	text-decoration: blink;
	font-size: 150%;
	font-weight: bold;
	margin-top: 10vw;
	
}

.subtopic{
	
}

 footer {
 	background-color: White;
	text-align: center;
	position: relative;
	margin-top: 30vw;
	font-size: 50%;
 }

